body {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-box {
  width: 820px;
  height: 650px;
  background-color: #6bbcbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.circle-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.stick-box {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.stick {
  width: 10px;
  height: 35px;
  background-color: #fff;
}

/* ---------------------- */
/* Circle Animation */
/* ---------------------- */

@keyframes rotatingCircle--1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg) translateX(-60px);
  }
}

@keyframes rotatingCircle--2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg) translateX(60px);
  }
}

.moving-circle--1 {
  animation: rotatingCircle--1 1s ease-in-out infinite;
}

.moving-circle--2 {
  animation: rotatingCircle--2 1s ease-in-out infinite;
}

/* ---------------------- */
/* Stick Animation */
/* ---------------------- */

@keyframes stickStretch {
  0% {
    transform: none;
  }
  25% {
    transform: scaleY(2);
  }
  50%,
  100% {
    transform: none;
  }
}

.stick {
  animation: stickStretch 1s ease-in-out infinite;
}

.stick--1 {
  animation-delay: 0s;
}

.stick--2 {
  animation-delay: 0.1s;
}

.stick--3 {
  animation-delay: 0.2s;
}

.stick--4 {
  animation-delay: 0.3s;
}

.stick--5 {
  animation-delay: 0.4s;
}
